.container {
    margin-top: 200px auto;
    width: 600px;
    background-color:#f0f8ff;
    padding: 15px;
    text-align: center;
  }

  .result-container {
    margin: 0 auto 40px;
    padding: 30px;
    width: 800px;
    background-color: #f0f8ff;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  #timer {
    background-color: rgb(138, 159, 183);
    font-size: 40px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 15px;
  }
  
  .btn {
    width: 270px;
    height: 45px;
    line-height: 45px;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }

  .command_shooting_game_logo {
    position: absolute;
    width: 132px;
    height: 119px;
    left: 87px;
    top: 56px;
  }

  .start_button {
    width: 200px;
    height: auto;
    display: block;
    margin: 30px auto;
  }

  .size-title {
    font-size: 30px;
  }
  
  .size-body {
    font-size: 20px;
    white-space: nowrap;
  }

  .login_name {
    height: auto;
    position: absolute;
    top: 70px;
    left: 70px;
    font-weight: bold;
    font-size: 20px;
  }

  .show-command {
    height: auto;
    font-weight: bold;
    font-size: 40px;
  }

  .command-description {
    height: auto;
    font-size: 30px;
  }

  #answer-input {
    width: 400px;
    height: 60px;
    font-size: 24px;
  }

  .result {
    margin: 85px auto;
    text-align: center;
  }

  .button-group {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .size-button {
    width: 200px;
    height: auto;
    display: block;
    margin: 30px auto;
  }

  .msg-color {
    color: rgb(13, 52, 206);
  }

  .ranking {
    margin: 40px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ranking-show {
    font-size: 30px;
    text-align: left;
    width: 600px;
  }

  .title-logo {
    width: 400px;
    height: auto;
    margin: 100px auto;
    display: block;
  }

  .login-form {
    margin: 40px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  .top-msg {
    align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px 40px;
    position: fixed;
    top: 50%;
    left: 25%
  }