.conteiner{
    margin: 2px auto;
    width: 270px;
    background-color:#fff;
    padding: 15px;
    text-align: center;
  }
  .result-container{
    margin: 20px auto;
  padding: 30px;
  background-color: #f0f8ff;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  }
  
  #timer{
    background-color: gray;
    font-size: 40px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 15px;
  }
  
  
  .btn{
    width: 270px;
    height: 45px;
    line-height: 45px;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }