<p style="color: green"><%= notice %></p>

<h1>Commands</h1>

<div id="commands">
  <% @commands.each do |command| %>
    <%= render command %>
    <p>
      <%= link_to "Show this command", command %>
    </p>
  <% end %>
</div>


