<%= image_tag "command_sniper_logo.png", alt: "サイドロゴ", class: "command_shooting_game_logo" %>
<div class= "login_name">
  <% if user_signed_in? %>
    <p> ログイン中: <%= current_user.nickname %></p>
  <% end %>
</div>